  <section class="home-banner">
    <div class="container-full">
      <div class="row">
        <div class="col-md-12">
          <h1 class="banner-title"><span>SELF-POWERED BLOCKCHAIN<br>
          DATA CENTERS</span><br>
          TOKEN SALE COMING SOON</h1><!--ICO coming soon, Pre-register for info about the pre-sale-->


              <div class="row">
                  <div class="col-sm-12 text-center">  
                <strong>
                  <form action="https://app.getresponse.com/add_subscriber.html" class="div_center" 
                     accept-charset="utf-8" method="post">
                    <div class="news_letter_content-top">
                      <!-- Email field (required) -->
                      <input type="text" class="email_btn email_color" placeholder="YOUR EMAIL ADDRESS" 
                      style="border-radius: 0px !important;" name="email"/>
                    </div>
                    <div class="news_top_btn">
                     <!-- List token -->
                     <!-- Get the token at: https://app.getresponse.com/campaign_list.html -->
                     <input type="hidden" name="campaign_token" value="6ID7A" />
                     <!-- Subscriber button -->
                        <div class="news_letter_btn">
                     <input class="send_btn news_letter_content-top-button" style="background: #feed01 !important; color: #5184b6 !important;   border-radius: 0px !important;" type="submit" value="SUBSCRIBE">
                   </div>
                      </div>
                  </form>
                      </strong>
                  </div>
              </div>


        </div>
      </div><!--<div class="row">
              <div class="col-md-4 col-md-offset-4 ">
                <div id="countdown2" class="row">
                         
                 </div>
          </div>
          </div>-->
      <br>
      <div class="row">
        <p class="sale-div text-center">
<!--           <a class="btn-sale-paper btn-yellow-glow margin-right" href="">PRE-REGISTER</a>  -->
          <a class="btn-sale-paper btn-yellow-glow margin-right" href="docs/white_paper.pdf" target="_blank">WHITE PAPER</a> 
          <a class="btn-sale-paper btn-yellow-glow" href="docs/three_pager.pdf" target="_blank">THREE PAGER</a>
        </p>
        <p class="down-icon-blue"><a href="#home-intro"><img style=" bottom: 0px; max-height: 35px;" alt="DOWN" src="/assets/images/download-arrow-y.png"></a></p>
      </div>
    </div><img alt="" class="img-responsive cutm_bg" src="/assets/images/mountains.png">
  </section>
 <section class="home-intro" id="home-intro">
    <div class="container-full">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <h4><strong>Introduction</strong></h4>
          <p>Electrominer was founded in 2017 by Blockchain enthusiasts and professionals in Green Energy Production, Construction, IT, and Business. The project was created to address the problems of cryptomining and to contribute to the future of decentralized technologies. Electrominer will unleash the potential of blockchain technology by creating sustainable, expandable, and self-sufficient solutions driven by community and clean energy. We are inviting you to join us and build the future of decentralized technologies together!</p>
        </div>
        <div class="col-md-6 col-sm-4" id="solar"><img alt="" class="img-container img-responsive p_tab" src="/assets/images/solar.png" width="400"></div>
      </div>
      <div class="row mobile_t">
        <div class="col-md-6 col-sm-8">
         <h4><strong>Problems of Crypto-Mining:</strong></h4>
          <p>-High electricity costs (up to 45% of mining profit)<br>
          -High level of CO2 emissions<br>
          -Hardware is expensive to purchase, maintain, and upgrade<br>
          -Long-term contracts provided by cloud mining services<br>
          -Mining contracts lock users into to only one single coin/algorithm</p>
        </div>
        <div class="col-md-6 col-sm-4"><img alt="" class="img-container img-responsive fr p_tab" src="/assets/images/containers.png" width="400"></div>
      </div>
      <div class="row mobile_t">
        <div class="col-md-6 col-sm-8">
          <h4><strong>Solutions offered by Electrominer:</strong></h4>
          <p>-Self-powered, sustainable mining facilities with ever-expanding hashing power<br>
          -Use of alternative solar energy reduces carbon footprint<br>
          -Professional 24/7 monitoring and maintenance of mining equipment<br>
          -Unlimited, adjustable contracts tailored to each users unique needs<br>
          -Ability to swap between various coins/algorithms</p>
        </div>
        <div class="col-md-6 col-sm-4"><img alt="" class="img-container p_tab screen_tab" src="/assets/images/screen.png" width="480"></div>
      </div><br>
    </div>
  </section>
 <section class="feature-page" id="features">
    <div class="">
      <div class="container-fluid">
        <div class="row feature-row-1">
          <div  class="col-lg-6 col-md-12 feature-1 nopadding">
              <div  class="inside_dr">
                  <div  >
            <br>
            <h2>DATA CENTERS <img alt="" class="de" src="/assets/images/white_left_arrow.png"></h2>
            <p><strong>Sustainable</strong><br>
            Electrominer is building our own energy generating solar power plant to reduce electricity expenses and minimize the negative environmental impact of cryptomining.  Electrominer is revolutionizing the mining industry by using alternative energy, empowering us to make cryptomining more cost-effective, sustainable, and self-powered.</p>
            <p><strong>Mobile</strong><br>
            Electrominer Mobile Data Center Units are housed in shipping containers, allowing high mobility for easy transportation.</p>
            <p><strong>Reliable</strong><br>
            Electrominer Mobile Data Center Units will be equipped with exclusively designed air cooling systems to solve the problem of overheating. Each unit will utilize remote-controlled software monitoring the status of all equipment<!-- combining them into total computing capacity-->.</p>
          </div></div>
              </div>
          <div class="col-lg-6 col-md-12 feature-2 nopadding"><img alt="" class="img-responsive " src="/assets/images/containers.jpg"></div>
        </div>
        <div class="row feature-row-2">
            <!-- 5-4-18 -->
          <div class="col-lg-6 col-md-12 feature-3 nopadding mobile_hide"><img alt="" class="img-responsive" src="/assets/images/screen1.png"></div>
          <div class="col-lg-6 col-md-12 feature-4 nopadding">
           <div class="inside_dr">
                  <div class="">
                      <br>
            <h2><img alt="" class="de2" src="/assets/images/blue_right_arrow.png"> CLOUD MINING PLATFORM</h2>
            <p>
              <strong>
              Unlimited Terms and Flexible Contracts
              </strong>
              <br>
              Electrominer offers unlimited, flexible, and adjustable contracts for self-increasing shares of available hashing power. This will provide our members with the freedom to choose their own mining contracts which can be for as little as one hour, with the ability to be cancelled anytime. Users can also manage their share of available hashing capacity by spreading it around to mine multiple coins using multiple algorithms.
            </p>
            <p>
              <strong>
              Floating Hash Power Multiplier
              </strong>
              <br>
              The Electrominer Platform will provide its members with guaranteed mining capacity along with an innovative floating multiplier. The multiplier will depend on the number of tokens held and the current load of the platform, meaning unused mining power will be distributed between its active users. <!--Therefore, since 
                  Electrominer team is planning to increase its mining capacity through time, the amount of 
                  guaranteed Hashrate per token will grow proportionally. -->
            </p>
            <p>
              <strong>
              Low fees
              </strong>
              <br>
              Generating our own power using solar energy allows for lower fees for renting out hashing capacity and larger returns compared to traditional cloud mining.
            </p>
          </div>
        </div>
      </div>
            <!-- 5-4-18 -->
            <div class="col-lg-6 col-md-12 feature-3 nopadding mobile_show"><img alt="" class="img-responsive rf" src="/assets/images/screen1.png"></div>
        </div>
      </div>
    </div>
  </section>
<section class="token-sale" id="ico">
  <div class="container-full">
    <h2 class="text-center">TOKEN SALE</h2>
    <div class="P_Bar">
      <p class="text-center p">70,000,000 ELM AVAILABLE + BONUS %</p>
      <br>
      <br>
      <br>
      <br>
      <!-- <img src="images/timeline.png" class="img-responsive" alt="" > -->
      <div id="myGoal">

      </div>
      <br>
      <p class="sale-div text-center" style="margin-top: 7%">
        <!-- <a class="btn-sale-paper btn-white-text margin-right" href="">PRE-REGISTER</a>  -->

        <a style="font-weight: bold;" class="btn-sale-paper btn-white-text margin-right" href="docs/white_paper.pdf" target="_blank">WHITE PAPER</a>
        <a style="font-weight: bold;" class="btn-sale-paper btn-white-text" href="docs/three_pager.pdf" target="_blank">THREE PAGER</a>
      </p>
      <p class="down-icon-blue">
        <a href="#token-sale">
          <img style="position: relative; margin-top: 20px; max-height: 35px;" alt="" src="/assets/images/download-arrow.png">
        </a>
      </p>
    </div>
    <br>
  </div>
</section>
<section class="token-sale art_sr" id="token-sale">
  <div class="container-full">
    <div class="row">
      <div class="col-md-6">
        <h3>ITO Mission Statement</h3>
        <p>Electrominer is launching an ITO to raise $73.7 million in order to establish a 10 Megawatt Mining Facility which
          will be powered by clean, renewable energy. The ITO campaign was conceived with the intention of expanding our
          mining facilities and to allow users to join the Global Blockchain Ecosystem. Electrominer’s expansion will be
          primarily dictated by the number of tokens sold during the ITO. Electrominer is an already existing mining facility
          based in Southern California, but to initiate the development of this project, Electrominer needs to raise a soft
          cap of $8 million.</p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-8">
            <h3>Token Distribution</h3>
            <p>Each Electrominer token (ELM) represents a share of available mining capacity. This means token holders are able
              to become a member of the Electrominer community and receive access to the Electrominer Cloud Mining Platform.
              Token Supply: 100,000,000 ELM. Ticker: ELM</p>
          </div>
          <div class="col-sm-4">
            <div class="pull-right mobile_center">
              <img class="img-responsive" src="/assets/images/Distribution.png" width="600">
              <!-- Pie Chart -->
              <!--<div class="Pie_chart">
                   <canvas id="chart-area"></canvas>
                 </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row nopadding">
      <div class="col-md-6 fund_usage">
        <h3>Funds Usage</h3>
        <div class="row">
          <div class="col-md-6">
            <p>Operating reserves : 4%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" class="progress-bar" role="progressbar" style="width: 4%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Land and Utilities : 9%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" class="progress-bar" role="progressbar" style="width: 9%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Mining Data Centers : 52%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 52%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Cloud-Mining Platform : 1%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 1%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Solar Energy : 21%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 21%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Soft costs : 8%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="8" class="progress-bar" role="progressbar" style="width: 8%;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Contingency : 5%</p>
          </div>
          <div class="col-md-6">
            <div class="progress progress2">
              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="3" class="progress-bar" role="progressbar" style="width: 5%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mobile_t_space">
        <h3>Reinvestments and Capacity</h3>
        <!-- 5-4-18 -->
        <!--<img class="img-responsive reinverstment_img" src="images/Reinvestment.png" width="660"> -->
        <div class="dia_ad">
          <div class="view_m">
            <div class="view_1">
              <span class="cr_1"></span> Solar Energy - 30%</div>
            <div class="view_2">
              <span class="cr_2"></span> Mining Capacity - 10%</div>
          </div>
          <ul class="diagram_str">
            <li>
              <img class="img-responsive" src="/assets/images/g1.png"> 2020</li>
            <li>
              <img class="img-responsive" src="/assets/images/g2.png"> 2021</li>
            <li>
              <img class="img-responsive" src="/assets/images/g3.png"> 2022</li>
            <li>
              <img class="img-responsive" src="/assets/images/g4.png"> 2023</li>
            <li>
              <img class="img-responsive" src="/assets/images/g5.png"> 2024</li>
            <li>
              <img class="img-responsive" src="/assets/images/g6.png"> 2025</li>
          </ul>
          <ol class="diagram_str2">
            <li>20</li>
            <li>15</li>
            <li>10</li>
            <li>5</li>
            <li>MW</li>
          </ol>
        </div>
        <!--<div id="Bar_chart" style="min-width: 280px; height: 300px; margin: 0 auto"></div>-->
      </div>
    </div>
    <br>
    <br>
    <p class="down-icon-blue">
      <a href="#roadmap">
        <img style="position: relative; bottom: 20px; max-height: 35px;" alt="" src="/assets/images/download-arrow.png">
      </a>
    </p>
  </div>
</section>
<section class="token-sale" id="roadmap">
  <div class="container-full text-center">
    <div class="row text-center">
      <div style="margin-bottom: 65px" class="col-md-12">
        <h2 class="text-center">
          <strong>ROADMAP</strong>
        </h2>
        <p style="margin-bottom: 50px;" class="text-center drw">
          <b>Learn more</b> about what we've achieved so far</p>
        <br>
        <img class="text-center img-responsive" src="/assets/images/roadmap.png" width="1800">
      </div>
      <br>
      <br>


    </div>
    <p class="down-icon-blue">
      <a href="#home-member">
        <img style="position: inherit; bottom: 10px; max-height: 35px;" alt="" src="/assets/images/download-arrow.png">
      </a>
    </p>
  </div>
</section>
<section class="home-member member_row" id="home-member">
  <div class="container-full">
    <br>
    <h1>JOIN OUR COMMUNITY AND THE
      <span>ELECTROMINER REVOLUTION</span>
    </h1>
    <br>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>MEMBERSHIP</h2>
        <p>Buying any amount of Electrominer tokens means becoming a member of the Electrominer Community and sharing in the
          total hash power capacity. Members will be granted access to the Electrominer Cloud Mining Platform and receive
          mining profits using their guaranteed hash power capacity. Electrominer will collect a symbolic “rental fee”
          in the form of membership and automatically transfer mined coins directly to users' wallets -- you set the wallet
          address, we send the profits! Unused mining capacity will be distributed between currently active members according
          to the number of tokens held. Furthermore, Electrominer will provide its members with an opportunity to participate
          in the decision-making process of our project by taking part in voting on strategic improvements to our services.</p>
        <br>
      </div>
      <div class="col-md-6 col-sm-12 ">
        <img class="img-laptop" src="/assets/images/MACBOOK.png">
      </div>
    </div>
  </div>
</section>

<script>


// 5-4-18
  $('#myGoal').stepProgressBar({
   currentValue: 0,
   steps: [

     
     { topLabel: ' ',
       value: 200,
       bottomLabel: ' '},
     { topLabel: '30%',
       value: 400,
       bottomLabel: 'PRE-SALE'},
     {
       topLabel: '15%',
       value: 600,
       bottomLabel: 'ITO WEEK 1'
     },
     {
       topLabel: '10%',
       value: 800,
       bottomLabel: 'WEEK 2'
     },
     {
       topLabel: '5%',
       value: 1000,
       bottomLabel: 'WEEK 3'
     },  
     {  
      topLabel: '0%',
       value: 1200, 
       bottomLabel: 'WEEK 4',
       mouseOver: function() { 
           alert('mouseOver'); 
        }, 
       click: function() { alert('click'); }
     }
   ],
   unit: '$'
  });

         $('#get-current-value-btn').click(function() {
           alert($('#myGoal').stepProgressBar('getCurrentValue'));
         });
         $('#set-current-value-btn').click(function() {
           $('#myGoal').stepProgressBar('setCurrentValue', 500);
         });
         $('#find-step-btn').click(function() {
           console.log($('#myGoal').stepProgressBar('findStep', 500));
         });
         $('#add-step-btn').click(function() {
           $('#myGoal').stepProgressBar('addStep', {value: 250});
         });
         $('#remove-step-btn').click(function() {
           $('#myGoal').stepProgressBar('removeStep', 500);
         });
  </script> 
  <script type="text/javascript">
  var randomScalingFactor = function() {
     return Math.round(Math.random() * 100);
  };
  var ctx = document.getElementById("chart-area").getContext("2d");
  var myDoughnut = new Chart(ctx, {
     type: 'pie',
     data: {
         labels: ["Company:29%", "Bounty:1%", "Pre Ico:10%", "ICO:60%" ],
         datasets: [{
             data: [29,1,10,60] ,
             backgroundColor: ['#ffffff', '#ffcd04', '#feed01', '#4c81b5'],
             borderColor: '#4c81b5',
             borderWidth: 1, 
         }]
     },
     showDatapoints: true,
     options: {
         tooltips: {
             enabled: true
         },
         pieceLabel: {
             render: 'label', 
             arc: true,
             overlap:false,
             fontColor: '#194e80',
             fontSize: 12,
             position: 'outside',
             
             
         },
         responsive: true,
         legend: {
             display: false,
             position: 'top',
         },
         title: {
             display: false,
             text: 'Testing',
             fontSize: 30
         },
         animation: {
             animateScale: true,
             animateRotate: true
         }
     }
  });           
  </script> 
  <script type="text/javascript">

  Highcharts.chart('Bar_chart', {

     chart: {
         type: 'column'
     },

     title: {
         text: ''
     },

     xAxis: { 
         categories: ['2021', '2022', '2023', '2024', '2025'],
         tickInterval: 1
          
     },
     legend: {
        enabled: 0,
     },  
     yAxis: {
         allowDecimals: false,
         min: 0,
         max: 20,
         title: {
             text: ''
         }
     },

     tooltip: {
         formatter: function () {
             return '<b>' + this.x + '<\/b><br/>' +
                 this.series.name + ': ' + this.y + '<br/>'
                 //'Total: ' + this.point.stackTotal;
         }
     },

     plotOptions: {
         column: {
             stacking: 'normal'
         }
     },

     series: [{
         name: 'Solar Energy',
         data: [10, 13, 15, 17, 18, 20],
         stack: 'male'
     },
              {
         name: 'Mining Capacity',
         data: [10, 11, 12, 13, 14, 15],
         stack: 'female'
     }]
  });   
  </script> 
  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("may 1, 2018 11:59:59").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

     // Get todays date and time
     var now = new Date().getTime();
     
     // Find the distance between now an the count down date
     var distance = countDownDate - now;
     
     // Time calculations for days, hours, minutes and seconds
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
     
     // Output the result in an element with id="demo"
     document.getElementById("countdown2").innerHTML = 
         '<div class="col-md-3 col-xs-3 border">' + days + " <p class='countDiv countDiv0'>Days<\/p>" + '<\/div>'  +
         '<div class="col-md-3 col-xs-3 border">' + hours + "<p class='countDiv countDiv0'>Hours<\/p>" + '<\/div>'  +
         '<div class="col-md-3 col-xs-3 border">' + minutes + "<p class='countDiv countDiv0'>Minutes<\/p>" + '<\/div>' +
         '<div class="col-md-3 col-xs-3 border">' + seconds + "<p class='countDiv countDiv0'>Seconds<\/p> " + '<\/div>';
     
     // If the count down is over, write some text 
     if (distance < 0) {
         clearInterval(x);
         document.getElementById("countdown2").innerHTML = "EXPIRED";
     }
  }, 1000);
  </script>