<section class="dashboard">
<div class="row">
    <div class="col-md-3 dashboard-left">
      <ul>
        <li class="active"><a href="dashboard.html">DASHBOARD</a></li>
        <li><a href="mining.html">MINING</a></li>
        <li><a class="button glow-button" href="orders.html">ORDERS</a></li>
        <li><a class="button glow-button" href="balances.html">BALANCE</a></li>
        <li><a class="button glow-button" href="coins_info.html">COIN INFO</a></li>
        <li><a class="button glow-button" href="statistics.html">STATISTICS</a></li>
        <li><a class="button glow-button" href="settings.html">SETTIING</a></li>
        <li><a class="button glow-button" href="faq.html">FAQ</a></li>
        <li><a class="button glow-button" href="logout.html">LOG OUT</a></li>
        <div class="container-fluid upload-wallet">
            <ul>
                <li style=" border-top: 0px; margin-left: -10px; margin-bottom: 10px;"><img src="assets/cabinet-master/images/upload-wallet.png" alt="" width="250"></li>
            </ul>
        </div>
      </ul>        
    </div>

    <div class="col-md-9 dashboard-right">
     <div class="dashboard-inside">
      <div class="row">
        <div class="col-md-4">
            <div class="mast_div">
                <h3 class="head_t">MY BALANCE</h3>
                <h3 class="balance" style="border-bottom: 0px">0.0856245 BTC</h3>
                <h3 class="balance"> $ 1,560.60  USD</h3>
            </div>  
            <div class="mast_div">
                <h3 class="head_t">MY CAPACITY</h3>
                <div class="cap_de">1,000W <span>+487W</span></div>
                <p class="short_text text-right"><a href="#">multiplier <b>49%</b></a></p>
            </div> 
        </div>
        <div class="col-md-8">
            <h3 class="head_t">MINING CAPACITY <p class="short_text text-right"><a href="#">increase limits</a></p></h3>    
            
            <div class="mining_graph">
                <img src="assets/cabinet-master/images/limits_graph.jpg" alt="" title="" class="img-responsive" />
            </div>
        </div>
      </div>

   
	<div class="mining-table dash_table">
	    <h3 class="head_t">ACTIVE ORDERS</h3>
	    <table class="table table-class" >
	    
	    <thead>
	        <tr>
	            <th>Coin</th> 
	            <th>Speed</th>
	            <th>Share</th>
	            <th>Status</th> 
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Bitcoin</td>
	            <td>1.05 Th/s</td>
	            <td>45%</td>

	            <td width="200px">
	                <div class="progress progress2">
	                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">           
	                    </div>
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <td>Dash</td>
	            <td>17.00 Gh/s</td>
	            <td>20%</td>

	            <td width="200px">
	                <div class="progress progress2">
	                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">           
	                    </div>
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <td>Ethereum</td>
	            <td>5.50 Gh/s</td>
	            <td>10%</td>

	            <td width="200px">
	                <div class="progress progress2">
	                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">           
	                    </div>
	                </div>
	            </td>
	        </tr>
	        <tr>
	            <td>Bulwark</td>
	            <td>1.00 Gh/s</td>
	            <td>25%</td>

	            <td width="200px">
	                <div class="progress progress2">
	                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">           
	                    </div>
	                </div>
	            </td>
	        </tr>
	    </tbody>
	</table> 
	</div>
	</div>
	</div>

</div>
</section>
<script src="assets/cabinet-master/js/jquery.min.js"></script>
<script src="assets/cabinet-master/js/bootstrap.min.js"></script>