<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600,700,800,900" rel="stylesheet">
<nav class="navbar navbar-inverse">
         <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
          </button> 
          <a class="navbar-brand" style=" top: 10px;" href="#">
            <img src="/assets/images/logo.png" width="200px"></a>
        </div>
        <div class="collapse navbar-collapse navbar-right main_menu" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a class="href-glow" href="#ico">ITO</a>
            </li>
            <li>
              <a href="#home-member">CLOUD MINING</a>
            </li>
            <li>
              <a href="#selection-about">TEAM</a>
            </li>
            <li>
              <a href="docs/bounty.pdf" target="_blank">BOUNTY</a>
            </li>
            <li>
              <a href="#projects">PROJECTS</a>
            </li>
            <li>
              <a href="faq.html" target="_blank">FAQ</a>
            </li>
            <li>              
              <a routerLink="login">Login</a>
             <!-- <a href="login" >Login</a> -->
            </li>            
            <li>
              <a href="http://www.electrominer.io/electrominer.ipa" target="_blank">Download App DEMO (iOS)</a>
            </li>    
          </ul><!--<ul class="nav navbar-nav navbar-right main_menu_right">
                        <li><a href="#">Sign Up / Log In</a></li>
                    </ul>-->
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>