.news 
{
	margin-left: 12%
}

.news-title 
{
	font-weight: bolder;
    font-size: 80px;
    text-align: left;
    margin-top: 5%;
    color: #FFF
    text-transform: uppercase
}

.news-title span 
{
    color: #FEED01;
}

.post
{
	margin-left: 12%;
	margin-right: 30%;
	margin-bottom: 5%;
}

.post h2
{
	font-weight: bolder;
	text-transform: uppercase;
	color: #FEED01;
}

.post h3
{
	font-size: 18px;
	text-transform: uppercase;
}

.post h4
{
	padding-top:5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #FEED01;

}

.post h5
{
	font-weight: lighter;
}

.post button
{
	padding: 0px;
	margin-top: 0%;
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	color: #FEED01;
	float: right;
	max-width: 170px;
	text-align: right;
	position: relative;
	background-color: transparent;

}

.post button img
{
	fill: #FEED01;
	margin-top: -5px;
	margin-left: 5px;
	vertical-align: top;
	max-height: 28px;
	max-width: 28px;
}

.post-title
{
	font-weight: bold;
	color: #FFF;
}
.post p
{
	padding-top: 0;
	min-height: 30px;
	padding-bottom: 6px;
}

.post p button img
{
	display: inline;
	margin-right: 5px;
}

.post p h4
{
	font-weight: lighter;
}

.post p img
{
	margin-top: 1%;
	margin-bottom: 4%;
	max-width: 100%;
	position: relative;
	margin-right: 25%;
}

.postinfoline
{
	max-width: 100%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #FEED01;
	margin-bottom: 2%;
}

.postinfoline span
{
	text-align: right;
}

.newsPageFooter
{
	position: absolute;
	width: 100%;
}

.button
{

}

.comment-image 
{
	float: left;
	max-width: 150px;
}

.searchbar
{
	position: inherit;
	float: right;
	margin-top: 85%;

}

.right-section
{
	margin-top: 190px;
	float: right;
	margin-right: 2%;
	max-width: 25%;
	min-width: 180px;

}

.go-button
{

	font-weight: bold;


}

.year-button
{
	right: 20px;
	background-color: transparent;
	border: 1px solid #FEED01;
}