<head>
    <title>Electrominer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600,700,800,900" rel="stylesheet">    
    <link rel="stylesheet" href="assets/cabinet-master/css/inner-bootstrap.css">
    <link rel="stylesheet" href="assets/cabinet-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/cabinet-master/css/jquery.stepprogressbar.css">
    <link rel="stylesheet" href="assets/cabinet-master/css/inner-main.css">
    <link rel="stylesheet" href="assets/cabinet-master/css/dashboard.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
 <nav class="navbar navbar-inverse">
        <div class="container-fluid da" >
            <div class="row">
                <div class="navbar-header">
                    <button type="button" style=" border-color: #5184B6; border-width: 2px" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> 
                        <div class="upload-wallet" style="border-top: 0px">
                            <img src="assets/cabinet-master/images/logo blue.png"  width="200px" alt="" /> 
                        </div>
                    </a>
                </div>
                <div class=" collapse navbar-collapse navbar-right main_menu" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href=""><span class="support button glow-button">SUPPORT</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="button" href="#">Almas Zhumanov - <span>{{amount}} MNH</span></a></li>
                        <li class="button profile-img" style="padding: 0" > <a href="#"><img src="assets/cabinet-master/images/almas.jpg" alt="" width="50" class="img-circle" /></a></li>
                        <li class="border-left" ><a style="font-weight: bold" class="button" href="#">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>