<section class="wallet">
    <div class="container-full">
      <div class="row">
        <div class="col-md-6 automatically">        
          <h2>CLOUD MINING PLATFORM</h2>
          <p>Our platform provides our members with guaranteed mining capacity available for rent and a floating multiplier to increase profitability. Each members’ mining capacity will be dictated by the number of tokens held by each individual member. The Web Portal and the Mobile Application will allow our users to track or change the status of their chosen cryptomining contract with the ability to withdraw funds at any time.
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="row steps-icons">
        <div class="col-md-2 col-sm-4 col-xs-6 icon_div one_a">
          <img class="img-responsive" src="/assets/images/token.png">
          <h3 class="text-center ico_txt">TOKEN<br>
          PURCHASE</h3>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 icon_div two_a">
          <img class="img-responsive" src="/assets/images/membershp.png">
          <h3 class="text-center ico_txt">MEMBERSHIP</h3>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 icon_div five_a">
          <img class="img-responsive" src="/assets/images/cloud.png">
          <h3 class="text-center ico_txt">CLOUD<br>
          MINING</h3>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 icon_div six_a">
          <img class="img-responsive" src="/assets/images/wallet.png">
          <h3 class="text-center ico_txt">RECEIVE<br>
          REWARDS</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="selection-project" id="projects">
    <div class="container-fluid">
      <h2 class="text-center">
        <strong>
        A SELECTION OF PROJECTS
      </strong>
    </h2>
      <h2 class="worked text-center">WE'VE WORKED ON
      </h2>
    </div>
      <div class="row nopadding">
        <div class="col-md-4 nopadding">
          <div class="popup nopadding" onclick="myFunction01()">
            <img alt="" class="img-responsive img-class" src="/assets/images/projects/01.jpg">
            <span class="popuptext" id="myPopup01">Description Here</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction01()
              {
                var popup = document.getElementById("myPopup01");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
        <div class="col-md-4 nopadding">
          <div class="popup nopadding" onclick="myFunction02()">
            <img alt="" class="img-responsive img-class" src="/assets/images/projects/02.jpg">
            <span class="popuptext" id="myPopup02">Description Here</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction02()
              {
                var popup = document.getElementById("myPopup02");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
        <div class="col-md-4 nopadding">
          <div class="popup nopadding" onclick="myFunction03()">
            <img alt="" class="img-responsive img-class" src="/assets/images/projects/03.jpg">
            <span class="popuptext" id="myPopup03">Description Here</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction03()
              {
                var popup = document.getElementById("myPopup03");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
      </div>

      <div class="nopadding row">
        <div class="col-md-4 nopadding">
          <div  class="popup nopadding" onclick="myFunction04()">
            <img  alt="" class="img-responsive img-class" src="/assets/images/projects/04.jpg">
            <span class="popuptext" id="myPopup04">Description Here</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction04()
              {
                var popup = document.getElementById("myPopup04");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
        <div class="col-md-4 nopadding">
          <div class="popup" onclick="myFunction05()">
            <img alt="" class="img-responsive img-class" src="/assets/images/projects/05.jpg">
            <span class="popuptext" id="myPopup05">Description Here</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction05()
              {
                var popup = document.getElementById("myPopup05");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
        <div class="col-md-4 nopadding">
          <div class="popup" onclick="myFunction06()">
            <img alt="" class="img-responsive img-class" src="/assets/images/projects/06.jpg">
            <span class="popuptext" id="myPopup06">Description Heryhe</span>
            <script>
              // When the user clicks on div, open the popup
              function myFunction06()
              {
                var popup = document.getElementById("myPopup06");
                popup.classList.toggle("show");
              }
          </script>
          </div>
        </div>
      </div>

    
</section>
 <section class="selection-about" id="selection-about">
    <div class="container-fluid">
      <h1 class="text-center">ELECTROMINER TEAM</h1>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <!--  IMg CIrcle  class is bootstrap class & text-center also
                        -->
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/almas.jpg" width="200">
          <p><strong>Almas Zhumanov</strong></p>
          <p>CEO, Co-Founder</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <!--  IMg CIrcle  class is bootstrap class & text-center also
                        -->
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/aziz.jpeg" width="200">
          <p><strong>Aziz Aznabakiyev</strong></p>
          <p>CTO</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/natalia.jpg" width="200">
          <p><strong>Natalia Shipovalova</strong></p>
          <p>Marketing Manager</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/ken.jpg" width="200">
          <p><strong>Kenneth O'Leary</strong></p>
          <p>Construction/Development Manager</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/david.png" width="200">
          <p><strong>David Hall</strong></p>
          <p>Chief Construction Officer</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <!--  IMg CIrcle  class is bootstrap class & text-center also
                        -->
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/alex.png" width="200">
          <p><strong>Alexander Fedorchenko</strong></p>
          <p>Software Developer</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <!--  IMg CIrcle  class is bootstrap class & text-center also
                        -->
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/amit.jpeg" width="200">
          <p><strong>Amit Trivedi</strong></p>
          <p>Mobile Developer</p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 text-center about-div">
          <!--  IMg CIrcle  class is bootstrap class & text-center also
                        -->
          <img alt="" class="img-circle img-class" height="200" src="/assets/images/olga.jpg" width="200">
          <p><strong>Olga Aznabakiyeva</strong></p>
          <p>Web Developer</p>
        </div>
      </div>
    </div>
  </section>